table {
	width: 100%;
	text-align: center;
	border: 1px solid #0082B0;
	border-collapse: collapse;
	background-color: #0082B0;
}

th {
	font-family: Ubuntu Light;
	padding: 5px;	
	color: white;
	background-color: #0082B0;
}

td {
	border-right: 1px solid #0082B0;
	border-bottom: 1px solid #0082B0;
	font-family: Ubuntu Light;
}
tr {
	transition-property: background-color, color;
	transition-duration: 0.20s;
	transition-timing-function: ease-out;
	
	color: black;
	background-color: white;
}
tr:hover {
	transition-property: background-color, color;
	transition-duration: 0.20s;
	transition-timing-function: ease-out;
	
	cursor: default;
	color: black;
	background-color: #D9ECF3;
}
